
<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="index, follow">
<meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
<meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
<meta name="author" content="Webpixels">

<title>Bienvenu sur Pixeloo</title>


</head>
<body>

<!-- MAIN WRAPPER -->
<div class="body-wrap shop-default shop-cards shop-tech">
    <div id="st-container" class="st-container">
        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">
                    <!-- HEADER -->
                    <!-- END: header -->

                    <!-- REVOLUTION SLIDER -->
                    <div id="rev_slider_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="image-hero39" data-source="gallery">
                                        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                        <div id="rev_slider_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
                            <ul>
                                <li data-index="rs-1" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="../../images/slider/concept-1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <%= image_tag("slider/iphone-1.jpg", :alt => "" , :class => "rev-slidebg")%>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-1-layer-2"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                        data-fontsize="['16','16','16','16']"
                                        data-lineheight="['16','16','16','16']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <span class="text-uppercase strong-400">No more waiting</span>

                                    </div>

                                    <div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-1-layer-3"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                                        data-fontsize="['40','40','40','40']"
                                        data-lineheight="['50','40','40','40']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <span class="strong-400">
                                            Say hello to
                                        </span>
                                        <br>
                                        <span class="strong-600">
                                            the new iPhone X
                                        </span>

                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption" id="slide-1-layer-5"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
                                        data-fontsize="['40','40','40','40']"
                                        data-lineheight="['50','50','50','50']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <a href="#" class="btn btn-base-1 btn-circle">Rent now</a>

                                    </div>
                                </li>

                                <!-- SLIDE 2 -->
                                <li data-index="rs-2" data-transition="slidevertical" data-slotamount="1" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-thumb="../../images/slider/concept-1-100x50.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                    <!-- MAIN IMAGE -->
                                    <%= image_tag("slider/macbook-1.jpg", :alt => "" , :class => "rev-slidebg")%>
                                    <!-- LAYER NR. 2 -->
                                    <div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-2-layer-2"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
                                        data-fontsize="['16','16','16','16']"
                                        data-lineheight="['16','16','16','16']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <span class="text-uppercase strong-400">It s here</span>

                                    </div>

                                    <div class="tp-caption title--style-1 c-white tp-resizeme" id="slide-2-layer-3"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['70','70','70','70']"
                                        data-fontsize="['40','40','40','40']"
                                        data-lineheight="['50','40','40','40']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <span class="strong-400">
                                            A ne pas manquer
                                        </span>
                                        <br>
                                        <span class="strong-600">
                                            Offre promotionelle
                                        </span>
                                        <br>
                                        <span class="strong-400">
                                            sur ce produit
                                        </span>



                                    </div>

                                    <!-- LAYER NR. 5 -->
                                    <div class="tp-caption" id="slide-2-layer-5"
                                        data-x="['right','right','right','right']" data-hoffset="['0','0','50','50']"
                                        data-y="['middle','middle','middle','middle']" data-voffset="['180','180','180','180']"
                                        data-fontsize="['40','40','40','40']"
                                        data-lineheight="['50','50','50','50']"
                                        data-width="[300, 300, 300, 300]"
                                        data-height="none"
                                        data-whitespace="nowrap"
                                        data-type="text"
                                        data-responsive_offset="on"
                                        data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
                                        data-textAlign="['left','left','left','left']"
                                        data-paddingtop="[0,0,0,0]"
                                        data-paddingright="[0,0,0,0]"
                                        data-paddingbottom="[0,0,0,0]"
                                        data-paddingleft="[0,0,0,0]"
                                        style="z-index: 11; white-space: nowrap;text-transform:left;">

                                        <a href="#" class="btn btn-base-1 btn-circle">Rent now</a>

                                    </div>
                                </li>
                            </ul>
                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
                    </div><!-- END REVOLUTION SLIDER -->

                        <section class="slice sct-color-2">
                            <div class="container">
                                <div class="section-title section-title--style-1 text-center">
                                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                                        <span>Catégories principales</span>
                                    </h3>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-4">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("categories/reflex.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Boîtiers numériques
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <%= link_to 'Explorer', category_items_path(category_id: 1), class: "btn  btn-gray-dark btn-circle px-4"  %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("categories/objectif.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Objectifs
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                <%= link_to 'Explorer', category_items_path(category_id: 2), class: "btn  btn-gray-dark btn-circle px-4"  %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("categories/eclairage.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Eclairage studio & reportage
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                <%= link_to 'Explorer', category_items_path(category_id: 3), class: "btn  btn-gray-dark btn-circle px-4"  %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="slice sct-color-2">
                            <div class="container">
                                <div class="section-title section-title--style-1 text-center">
                                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                                        <span>Articles les plus appréciés</span>
                                    </h3>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("boitier/LEICA-V-LUX.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Leica V-Lux-7
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("objectif/sigma-35mm-f14-dg-hsm.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Sigma 35 f1.4
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    Léger et ultra lumineux, cet objectif sera votre compagnon idéal sur le terrain
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("objectif/canon-ef-50mm-f12-l-usm.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Canon 50 mm f1.2
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    léger et compact ...
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("eclairage/canon-speedlite-600.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Canon speedlite 600
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="slice sct-color-2">
                            <div class="container">
                                <div class="section-title section-title--style-1 text-center">
                                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                                        <span>Nos utilisateurs les mieux notés</span>
                                    </h3>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("boitier/LEICA-V-LUX.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Leica V-Lux-7
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("objectif/sigma-35mm-f14-dg-hsm.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Sigma 35 f1.4
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    Léger et ultra lumineux, cet objectif sera votre compagnon idéal sur le terrain
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("objectif/canon-ef-50mm-f12-l-usm.jpg", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Canon 50 mm f1.2
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    léger et compact ...
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("eclairage/canon-speedlite-600.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Canon speedlite 600
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="slice-lg has-bg-cover bg-size-cover" style="background-image: image_tag(prv/architecture/img-slider-1.jpg);">
                            <div class="mask mask-base-1--style-1"></div>
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-6 text-center">
                                        <h2 class="heading heading-1 strong-600 c-white">
                                            Ici on mettra des témoignages par exemple
                                        </h2>
                                        <p class="c-white trong-300 mt-4">
                                            Lorem ipsum dolor sit amet adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. There is only that moment, and the incredible certainty that everything under the sun has been written by one hand only.
                                        </p>

                                        <div class="btn-container mt-5">
                                            <a href="#" class="btn btn-styled btn-white btn-outline btn-circle px-5">Learn more</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
        
                        <section class="slice sct-color-2">
                            <div class="container">
                                <div class="section-title section-title--style-1 text-center">
                                    <h3 class="section-title-inner heading-3 strong-600 text-capitalize">
                                        <span>Vos dernières locations</span>
                                    </h3>
                                </div>

                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("prv/shop/electronics/img-1.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Google Home Base
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <%= image_tag("prv/shop/electronics/img-2.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Google Home
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("prv/shop/electronics/img-3.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Libratone Q Adapt
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3">
                                        <div class="block product no-border z-depth-2-top z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                <%= image_tag("prv/shop/electronics/img-3.png", :alt => "" , :class => "img-center")%>
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body text-center">
                                                <h3 class="heading heading-5 strong-600 text-capitalize">
                                                    <a href="#">
                                                        Libratone Q Adapt
                                                    </a>
                                                </h3>
                                                <p class="product-description">
                                                    2.8GHz Processor 1TB Storage 16GB DDR
                                                </p>
                                                <div class="product-colors mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="product-buttons mt-4">
                                                    <div class="row align-items-center">
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Favorite">
                                                                <i class="ion-ios-heart"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-2">
                                                            <button type="button" class="btn-icon" data-toggle="tooltip" data-placement="top" title="" data-original-title="Compare">
                                                                <i class="ion-ios-browsers-outline"></i>
                                                            </button>
                                                        </div>
                                                        <div class="col-8">
                                                            <button type="button" class="btn btn-block btn-base-1 btn-circle btn-icon-left">
                                                                <i class="icon ion-android-cart"></i>Add to cart
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <section class="slice-sm bg-base-1">
                            <div class="container sct-inner">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-4 b-lg-right b-inverse">
                                        <div class="px-3 py-3 text-lg-center">
                                            <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Free shipping in 48/72H</h3>
                                            <p class="c-white alpha-8 line-height-1_6">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 b-lg-right b-inverse">
                                        <div class="px-3 py-3 text-lg-center">
                                            <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Free returns</h3>
                                            <p class="c-white alpha-8 line-height-1_6">
                                                Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod
                                            </p>
                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="px-3 py-3 text-lg-center">
                                            <h3 class="heading heading-sm c-base-text-1 strong-600 text-uppercase ls-1">Secure payment</h3>
                                            <ul class="inline-links mt-2">
                                                <li>
                                                    <%= image_tag("icons/cards/visa.png", :alt => "" , :class => "img-grayscale")%>
                                                </li>
                                                <li>
                                                    <%= image_tag("icons/cards/mastercard.png", :alt => "" , :class => "img-grayscale")%>
                                                </li>
                                                <li>
                                                    <%= image_tag("icons/cards/maestro.png", :alt => "" , :class => "img-grayscale")%>
                                                </li>
                                                <li>
                                                <%= image_tag("icons/cards/paypal.png", :alt => "" , :class => "img-grayscale")%>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    <!-- FOOTER -->
                    
                </div><!-- END: st-content-inner -->
            </div><!-- END: st-content -->
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->
