<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    
    <%= image_tag('favicon.png') %>

  </head>

  <body>
      <%= render "layouts/header" %>
      <p class="alert alert-success"><%= notice %></p>
      <p class="alert alert-danger"><%= alert %></p>
    <%= yield %>
    <%= debug user_signed_in? %>
    <%= debug session.to_hash %>
    <%= render "layouts/footer" %>
  </body>
</html>
